.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  margin-top: 12.2vh;
  background: linear-gradient(to right top, #bbe829, #f0ffb9) ;


}
.buttons-select{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: -1vh;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name {
  margin-top: 8%;
  align-items: center;
  font: bold 45px 'Roboto', Arial;
  color: #bbe829;
}
.sign_up-full-width {
  border: 2px solid #bfc0bf;
  height: auto;
  width: 350px;
  border-radius: 5px;
  font: 20px 'Roboto', sans-serif;
  padding: 10px;
}
.sign_up-form {
  align-items: center;
  margin: 0 16px 15px;
  width: auto;
  float: left;
}

.password-full-width {
  border: 2px solid #bfc0bf;
  height: auto;
  width: 350px;
  border-radius: 5px;
  font: 20px 'Roboto', sans-serif;
  padding: 10px;
}
.password-form {
  align-items: center;
  width: auto;
  float: left;
  margin: 0 16px 30px;
}

.mat-fab.button-select-role {
  width: 25vh;
  height: 15vh;
  font: bold 30px/3 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #bbe829;
  box-shadow: 4px 8px 10px rgb(214, 215, 211);

}

.button-role {
  width: auto;
  margin-right: 8vh;
  margin-left: 8vh;
}
